@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.format{
    display: grid;
    gap: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

.sidebar{
    display: inline-block;
    border: 10px solid #5a5a5a;
    padding-right: 10px;
}

.sidebar label{
    display: block;
    margin-bottom:  3px;
}

.filter-block{
    margin-bottom: 15px;
}

.item img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.item{
    display: flex;
    padding: 15px;
    flex-direction: column; 
}

.title{
    font-size: 14px;
}